:root{
    --amarillo: #FFC500;
    --azul:     #1C244A;
    --azul-transparente:     rgba(28, 36, 74, 0.9);
    --rojo:     #E1242D;
    --rojo-transparente:     rgba(225, 36, 45, 0.2);
    --fondo:    #FEF6D7;
    --fondo-transparente:    rgb(254, 246, 215, 0.75);
}

main{
    background-color: var(--fondo);
    min-height: calc(849/1024 * 100vh);
    width: 100vw;
    padding: 7rem;
    display: grid;
    grid-template: 7.1rem 1fr / repeat(5, 1fr) ;
    column-gap: 2rem;
    row-gap: 4rem;
}

main input{
    background-color: var(--fondo);
    border-color: var(--azul);
    border-radius: 2.1rem;
    grid-column: 1/3;
    padding-left: 4.9rem;
    color: var(--azul);
    font-size: 3rem;
    font-family: 'Inter';
}

::placeholder{
    font-size: 3rem;
    font-family: 'Inter';
    color: var(--azul-transparente);
}

main select{
    /* appearance: none; */
    outline: none;
    cursor: pointer;
    background-color: #1C244A;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat SemiBold';
    font-size: 2.1rem;
    letter-spacing: 0.05rem;
    color: var(--fondo);
}

main select.selectorClaro{
    background-color: var(--fondo);
    border-width: 0.3rem;
    border-style: solid;
    border-color: var(--azul);
    color: var(--azul);
}

.rejillaCiclistas{
    grid-row: 2/3;
    grid-column: 1/6;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(31rem,1fr));
    grid-auto-rows: 19rem;
    gap: 2rem
}

.tarjetaCiclista{
    cursor: pointer;
}

.tarjetaCiclista .cajaSuperior{
    height: 13.7rem;
    background-color: var(--azul);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 0.3rem solid var(--azul);
    border-bottom: none;
}

.tarjetaCiclista .cajaSuperior p{
    color: var(--fondo);
    font-size:  3rem;
    font-family: 'Inter Bold';
    width: 17rem;
}


.tarjetaCiclista:hover .cajaSuperior{
    background-color: var(--fondo);
}

.tarjetaCiclista:hover .cajaSuperior p{
    color: var(--azul);
}




.tarjetaCiclista .cajaSuperior img{
    height: 6.65rem;
    width: 6.65rem;
    object-fit: cover;
    border-radius: 100%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: black;
}

.tarjetaCiclista .cajaInferior{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.3rem;
    border-style: solid;
    border-color: var(--azul);
    border-width: 0.3rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.tarjetaCiclista .cajaInferior .numeroDeInscripcion{
    width: 2.4rem;
    height: 2.4rem;
    background-color: var(--azul);
    border-radius: 100%;
    color: var(--fondo);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-family: 'Inter Bold';
}

.nuevoCiclistaWrapper{
    position: absolute;
    bottom: 13rem;
    right: 5rem;
    display: flex;
    align-items: center;
}

.nuevoCiclistaWrapper .letrero{
    width: 24.1rem;
    height: 4rem;
    display: flex;
    border-radius: 0.4rem;
    margin-right: 1.6rem;
    align-items: center;
    justify-content: center;
    background-color: var(--azul);
    color: var(--fondo);
    font-size: 2rem;
    position: relative;
    display: none;
}

.nuevoCiclistaWrapper:hover .letrero{
    display: flex;
}

.nuevoCiclistaWrapper:hover .letrero::after{
    content: '';
    background-image: url('../img/flecha.svg');
    width: 0.75rem;
    height: 1.5rem;
    background-size: contain;
    position: absolute;
    right: -0.6rem;
}

.nuevoCiclista{
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--azul);
    border-style: solid;
    border-color: var(--azul);
    border-width: 0.3rem;
    border-radius: 100%;
    font-size: 3.5rem;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
}

.nuevoCiclista:visited{
    text-decoration: none;
    color: var(--azul);
}

.detallesCiclista_fondo{
    position: absolute;
    top: 0;
    bottom: 0; 
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--fondo-transparente);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.detallesCiclista_contenedor{
    width: 68.3rem;
    height: 56.6rem;
    border-radius: 2.8rem;
    background-color: var(--fondo);
    border: 0.4rem solid var(--azul);
    display: grid;
    grid-template: repeat(4,1fr) / repeat(5, calc((68.3rem /5) - 2rem));
    gap: 2rem;
    justify-items: center;
    position: relative;
}

.columna1{
    grid-column: 1/3;
    grid-row: 2/4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.detallesCiclista_contenedor .fotografia{
    width: 16.5rem;
    height: 16.5rem;
    object-fit: cover;
    border-radius: 100%;
    border-style: solid;
    border-width: 0.3rem;
    border-color: black;
}

.numeroDeInscripcion{
    width: 5.3rem;
    height: 5.3rem;
    border-radius: 100%;
    background-color: var(--azul);
    color:var(--fondo);
    font-size: 2.1rem;
    text-align: center;
    line-height: 5.3rem;
    font-family: 'Montserrat';
}


.columna2{
    grid-column: 3/6;
    grid-row: 2/4;
    display: grid;
    justify-items: start;
    align-items: center;
    height: 30rem;
    width: 100%;
}

.detallesCiclista_contenedor .nombre{
    font-size: 5.7rem;
    color: var(--azul);
    font-family: 'Inter Bold';
    width: 28.5rem;
}

.detallesCiclista_contenedor .detalle{
    font-size: 2rem;
    color: var(--azul);
    font-family: 'Inter';
    width: 100%;
}

.detallesCiclista_contenedor input{
    width: 13rem;
    height: 3.4rem;
    font-size: 2rem;
    text-align: center;
    padding: 0;
    margin-left: 1rem;
}

.borrarCiclista{
    width: 2.4rem;
    height: 3.2rem;
    position: absolute;
    left: 3rem;
    bottom: 3rem;
    cursor: pointer;
}

.detallesCiclista_contenedor .closeWindow{
    width: 2.3rem;
    height: 2.1rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}

.detallesCiclista_contenedor a{
    position: absolute;
    width: 13rem;
    height: 3.2rem;
    right: 3rem;
    bottom: 3rem;
    background-color: var(--azul);
    border-radius: 1.6rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-family: 'Montserrat';
    color: var(--fondo);
    cursor: pointer;
    display: none;
}

.detallesCiclista_contenedor a:visited{
    text-decoration: none;
    color: var(--fondo);
}

